:root {
  --missed: #fcbdbd;
  --on-going: #fde3f0;
  --complete: #d3f2cc;

  --mrd-blue: #c1d7e0;
  --mrd-purple: #e0d8e9;

  --crud-blue: #c2d2e4;
  --crud-fc: #00042c;
}
body {
  background-color: white !important;
  color: black !important;
}

.bgLogo {
  position: fixed;
  bottom: -70px;
  right: -35px;
  display: block;
  opacity: 0.2;
  width: 850px;
  height: auto;
  z-index: -1;
}

.container_main {
  width: 100% !important;
}

body {
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Open Sans',
    sans-serif;
}
.containermain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.card {
  //background-color: var(--crud-blue);
  background-color: #00042c;
  color: white;
  width: 500px;
  height: 100%;
  text-align: center;

  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 30px;

  padding-bottom: 50px;
}
.title {
  color: white;
  font-size: 22px;

  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bold;
}
.input {
  padding: 0;
  margin: auto;
  padding-left: 10px;
  margin-bottom: 10px;
  border-style: none;
  border-radius: 5px;
  width: 85%;
  height: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
.inputTitle {
  padding-left: 40px;
  padding-bottom: 3px;

  text-align: left;
  font-size: 15px;

  font-weight: bold !important;
}
.inputDate {
  width: 405px;
  padding-right: 10px;
}
.input::placeholder {
  color: #9e9ea7;
}
.input:focus,
input:hover {
  outline: none;
  border-color: var(--crud-blue);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(179, 215, 255, 0.4);
}
input[type='text'],
input[type='date'] {
  cursor: text;
}
.selectContainer {
  position: relative;
}
.selectBox {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  appearance: none;
}
.selectBox::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
}
.selectBox option:hover {
  cursor: pointer;
}
.icDown {
  position: absolute;
  color: black;
  font-size: 13px;
  top: 50%;
  right: 49px;
  transform: translateY(-80%);
}
.btn {
  border-radius: 15px;
  color: white;
  font-weight: bold;

  width: 160px;
  height: 30px;
  border-style: none;
  cursor: pointer;
}
.btn2 {
  margin-top: 20px;
}
.cancel {
  margin-left: 20px;
  background-color: #be3a3a;
}
.cancel_text {
  color: white;
  text-decoration: none;
  padding: 8px 60px 7px 55px;
  border-radius: 100px;
}
.cancel_text:hover,
.cancel_text:focus {
  border: 0;
}
.submit {
  color: #00042c;
  background-color: #44ade8;
}
:export {
  white: #ffffff;
  black: #000000;
}

.alert {
  padding: 20px;
  background-color: #00042c;
  color: white;

  width: 460px;
  border-radius: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
