body {
  display: flex;
  flex-direction: column;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Open Sans',
    sans-serif;
  color: #86a5b1;
  background-image: linear-gradient(
    to bottom,
    #dcedff 0%,
    #c4dcf7 40%,
    #abcef5 75%,
    #74aff1 100%
  );
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

.bgLogo {
  position: fixed;
  bottom: -70px;
  right: -35px;
  display: block;
  opacity: 0.2;
  width: 850px;
  height: auto;
  z-index: -1;
}

* {
  padding: 0;
  margin: 0;
}
.cursor {
  cursor: pointer;
}
.button {
  background-color: #043572; /* Green */
  border: 1px solid #043572;
  color: white;
  font-weight: 600;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 5px #00042c;
  //box-shadow:
  // 0 1px 1px rgba(0, 0, 0, 0.12),
  // 0 2px 2px rgba(0, 0, 0, 0.12),
  // 0 4px 4px rgba(0, 0, 0, 0.12);

  width: 170px;
  margin: 20px 20px 20px 0px;
  /* top right bottom left */
}
.export {
  text-decoration: none;
  color: #2f3241;
  border: none !important;
  font-weight: normal;
}
.export:focus,
.export:hover,
.export:active,
.export:visited {
  text-decoration: none !important;
  outline: none !important;
}

.column1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.column2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: -5px;
}

.card {
  margin-top: 10px;
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  padding: 2px 16px;
  padding-left: 0px;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}

.card:hover {
  background-color: #e8e6e6;
}

.cardCapsule {
  background-color: var(--missed);
  width: 5px;
  border-radius: 5px;
  padding: 0px 10px 5px 0px;
  /* top right bottom left */
  height: 59px;
  margin-top: -2px;
}

.c-name {
  padding-left: 10px;
}
.p-loc {
  padding-left: 10px;
}
.doc-no {
  padding-left: 5px;
}
.date-sub {
  padding-left: 35px;
}
.title {
  font-size: 15px;
  // padding-right: 20px;
  // padding-left: 10px;
  font-weight: bold;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  text-align: center;
}

.title1 {
  padding-left: 20px;
}
.pl {
  width: 160px;
}
.title_mrd {
  width: 130px;
  display: flex;
  text-align: center !important;
}
.dn {
  width: 110px;
  padding-left: 5px;
}
.ds {
  width: 100px;
  text-align: center !important;
  margin-left: 10px;
  margin-right: 10px;
}

.tStatus {
  width: 70px;
  text-align: center !important;
  margin-left: 5px;
}
.tAction {
  width: 90px;
  margin-right: 0 !important;
}
.mrd {
  font-size: 14px !important;
  background-color: #fcbdbd;
  border-radius: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  /* top right bottom left */
  height: 25px;
  align-items: center;
  display: flex;
  text-align: center;
  text-align: center !important;
  justify-content: center;
}
.mrdWidth {
  display: flex;
  justify-content: center;
}
.edit {
  padding: 0px 5px 3px 0px !important;
  /* top right bottom left */
  padding-top: 0px;
  background-color: var(--complete);

  margin: 0px 0px 0px 10px;
  border: none;
  border-radius: 10px;
}
.green_icon {
  color: var(--success-green);
  width: 15px;
  padding-top: 3px;
}
.deletered {
  padding-top: 2px;
  padding-bottom: 2px;
  color: var(--delete-red);
  width: 12px;
}
.delete {
  cursor: pointer;
  background-color: var(--missed);
  border: none;
  border-radius: 10px;
  /* top right bottom left */
  margin: 0px 0px 0px 10px;
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 3px;
}
.cName {
  // padding-top: 5px;
  width: 105px !important;
  margin-left: 15px !important;
  margin-right: 10px;
}
.pLoc {
  width: 160px !important;
}
.docNo {
  //padding-right: 15px;
}
.dateSub {
  text-align: center !important;
  margin-right: 10px;
}
.info {
  font-size: 16px;

  text-align: left;

  color: black;
  width: 100px;
  font-weight: normal;
}
.status {
  font-size: 14px;
  background-color: #fcbdbd;
  width: 90px;
  border-radius: 35px;
  padding: 0px 2px 2px 0px;
  /* top right bottom left */
  height: 20px;
  margin: 2px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
}
.statusMissed {
  background-color: var(--missed);
}

.statusOngoing {
  background-color: var(--on-going);
}

.statusUpcoming {
  background-color: var(--upcoming);
}

.statusComplete {
  background-color: var(--complete);
}

.statusOnHold {
  background-color: var(--on-hold);
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 840px;
  margin: 0 auto;
  padding: 15px 30px 50px 30px;
  margin-top: 10px;
}

// MODAL
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}
.modalContent {
  background-color: #c1d7e0;
  padding: 20px;
  border-radius: 10px;
  width: 90%; /* Adjust as needed */
  max-width: 400px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.titleDelete {
  text-align: center;
}
.midDelete {
  display: flex;
  justify-content: center;
}
.btn {
  // margin: 10px 0px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.cancel {
  margin-left: 20px;
  background-color: #740000;

  margin-left: 20px;
}
.submit {
  background-color: #00042c;
}
.btn {
  border-radius: 15px;
  color: white;
  font-weight: bold;

  width: 160px;
  height: 30px;
  border-style: none;
  cursor: pointer;
}
.red {
  background-color: #f8bdb0; /*#db8074*/
}
.blue {
  background-color: #aad2e9; /*#7dade8*/
}
.yellow {
  background-color: #efe368; /*#fcd04c*/
}
.green {
  background-color: #9cd58f; /*#73bf67*/
}
.orange {
  background-color: #ffc383; /*#fca14c*/
}
.containerSuccess {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logoSuccess {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #c0f0b5;
  color: #13481d;

  padding: 20px;
  padding-right: 25px;

  margin-bottom: 10px;
  margin-right: -10px;
  margin-top: 20px;

  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  border-style: solid;
  border-width: 1px;
  border-color: #8ebd83;

  font-size: 20px;
  font-weight: bold;
}
.successMessage {
  background-color: #c0f0b5;
  color: #13481d;
  padding: 20px;

  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  border-style: solid;
  border-width: 1px;
  border-color: #8ebd83;

  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 840px) {
}

@media (max-width: 660px) {
}

@media (max-width: 480px) {
}
