body {
  display: flex;
  flex-direction: column;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Open Sans',
    sans-serif;
  color: #86a5b1;
  background-color: #2f3241;
}

* {
  padding: 0;
  margin: 0;
}
.cursor {
  cursor: pointer;
}
.button {
  background-color: #f2f2f2; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 5px #888787;

  width: 150px;
  margin: 20px 20px 20px 0px;
  /* top right bottom left */
}
.export {
  text-decoration: none;
  color: #2f3241;
  border: none !important;
}

.column1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.column2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  padding-top: 10px;
}

.card {
  margin-top: 10px;
  background-color: #f2f2f2;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  padding: 2px 16px;
  padding-left: 0px;
}

.card-capsule {
  background-color: var(--missed);
  width: 5px;
  border-radius: 5px;
  padding: 0px 10px 5px 0px;
  /* top right bottom left */
  height: 59px;
  margin-top: -2px;
}

.c-name {
  padding-left: 10px;
}
.p-loc {
  padding-left: 10px;
}
.doc-no {
  padding-left: 5px;
}
.date-sub {
  padding-left: 35px;
}
.title {
  font-size: 15px;
  // padding-right: 20px;
  // padding-left: 10px;
  font-weight: bold;
  width: 100px;
}

.title1 {
  padding-left: 25px;
}
.pl {
  width: 140px;
}
.title_mrd {
  width: 150px;
  display: flex;
  text-align: center !important;
}
.dn {
  width: 110px;
  text-align: center !important;
}
.ds {
  width: 120px;
  text-align: center !important;
}

.tStatus {
  width: 100px;
  text-align: center !important;
  // margin-left: 10px;
  // margin-left: -10px !important;
}
.mrd {
  font-size: 14px;
  background-color: var(--mrd-blue);
  width: 150px !important;
  border-radius: 35px;
  // padding: 0px 0px 1px 25px !important;
  /* top right bottom left */
  height: 25px;
  // margin: 1px 0px 0px 0px;

  text-align: center !important;
}
.edit {
  padding-left: 1px !important;
  padding-right: 4px !important;
  padding-top: 3px;
  background-color: var(--complete);

  margin: 13px 0px 0px 10px;
  border: none;
  border-radius: 10px;
}
.green {
  color: var(--success-green);
  width: 15px;
}
.deletered {
  color: var(--delete-red);
  width: 12px;
}
.delete {
  cursor: pointer;
  background-color: var(--missed);
  border: none;
  border-radius: 10px;
  /* top right bottom left */
  margin: 13px 0px 0px 10px;
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 3px;
}
.cName {
  // padding-top: 5px;
  width: 100px !important;
  margin-left: 15px !important;
}
.pLoc {
  width: 135px !important;
}
.docNo {
  padding-right: 15px;
}
.dateSub {
  text-align: center !important;
}
.info {
  font-size: 14px;

  text-align: left;

  color: black;
  width: 100px;
}
.status {
  font-size: 14px;
  background-color: var(--missed);
  width: 80px;
  border-radius: 35px;
  padding: 3px 2px 2px 0px;
  /* top right bottom left */
  height: 20px;
  margin: 2px 0px 0px 30px;

  text-align: center;
}
.status-missed {
  background-color: var(--missed);
}

.status-ongoing {
  background-color: var(--on-going);
}

.status-upcoming {
  background-color: var(--upcoming);
}

.status-complete {
  background-color: var(--complete);
}

.status-on-hold {
  background-color: var(--on-hold);
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 840px;
  margin: 0 auto;
  padding: 15px 30px 0 30px;
}

@media (max-width: 840px) {
}

@media (max-width: 660px) {
}

@media (max-width: 480px) {
}
