body {
  display: flex;
  flex-direction: column;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Open Sans',
    sans-serif;
  color: #86a5b1;
  background-color: #2f3241;
}

* {
  padding: 0;
  margin: 0;
}
.cursor {
  cursor: pointer;
}
.button {
  background-color: #f2f2f2; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 5px #888787;

  width: 150px;
  margin: 20px 20px 20px 0px;
  /* top right bottom left */
}
.export {
  text-decoration: none;
  color: #2f3241;
  border: none !important;
  font-weight: normal;
}

.column1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.column2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  padding-top: 10px;
}

.card {
  margin-top: 10px;
  background-color: #f2f2f2;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  padding: 2px 16px;
  padding-left: 0px;

  box-shadow: 0 8px 3px -6px #9e9d9d;

  // box-shadow: 1px 5px #888787;
}

.cardCapsule {
  background-color: var(--missed);
  width: 5px;
  border-radius: 5px;
  padding: 0px 10px 5px 0px;
  /* top right bottom left */
  height: 59px;
  margin-top: -2px;
}

.c-name {
  padding-left: 10px;
}
.p-loc {
  padding-left: 10px;
}
.doc-no {
  padding-left: 5px;
}
.date-sub {
  padding-left: 35px;
}
.title {
  font-size: 14px;
  // padding-right: 20px;
  // padding-left: 10px;
  font-weight: bold;
  width: 100px;
}

.title1 {
  padding-left: 20px;
  width: 130px;
}
.pl {
  width: 100px;
}
.title_mrd {
  width: 110px;
  padding-left: 15px;
}
.dn {
  width: 110px;
  padding-left: 5px;
}
.ds {
  width: 120px;
  padding-left: 15px;
}

.tStatus {
  width: 100px;
  padding-left: 25px;

  text-align: center !important;
  // margin-left: 10px;
  // margin-left: -10px !important;
}
.mrd {
  font-size: 14px;
  background-color: var(--mrd-blue);
  width: 150px !important;
  border-radius: 35px;
  // padding: 0px 0px 1px 25px !important;
  /* top right bottom left */
  height: 25px;
  // margin: 1px 0px 0px 0px;

  text-align: center !important;
}
.edit {
  padding: 0px 4px 4px 0px !important;
  /* top right bottom left */
  padding-top: 0px;
  background-color: var(--complete);

  margin: 10px 0px 0px 10px;
  border: none;
  border-radius: 10px;
}
.green {
  color: var(--success-green);
  width: 15px;
}
.deletered {
  color: var(--delete-red);
  width: 12px;
}
.delete {
  cursor: pointer;
  background-color: var(--missed);
  border: none;
  border-radius: 10px;
  /* top right bottom left */
  margin: 10px 0px 0px 10px;
  padding: 0px 8px 4px 8px !important;
  /* top right bottom left */
}
.cName {
  // padding-top: 5px;
  width: 100px !important;
  margin-left: 15px !important;
}
.pLoc {
  width: 105px !important;
}
.docNo {
  padding-right: 15px;
}
.dateSub {
  text-align: center !important;
}
.info {
  font-size: 14px;

  text-align: left;

  color: black;
  width: 100px;
  font-weight: normal;
}
.status {
  font-size: 14px;
  background-color: var(--missed);
  width: 80px;
  border-radius: 35px;
  padding: 0px 2px 2px 0px;
  /* top right bottom left */
  height: 20px;
  margin: 2px 0px 0px 30px;

  text-align: center;
}
.statusMissed {
  background-color: var(--missed);
}

.statusOngoing {
  background-color: var(--on-going);
}

.statusUpcoming {
  background-color: var(--upcoming);
}

.statusComplete {
  background-color: var(--complete);
}

.statusOnHold {
  background-color: var(--on-hold);
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 840px;
  margin: 0 auto;
  padding: 15px 30px 0 30px;
}

// MODAL
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}
.modalContent {
  background-color: #c1d7e0;
  padding: 20px;
  border-radius: 10px;
  width: 90%; /* Adjust as needed */
  max-width: 400px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.titleDelete {
  text-align: center;
}
.midDelete {
  display: flex;
  justify-content: center;
}
.btn {
  // margin: 10px 0px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.cancel {
  margin-left: 20px;
  background-color: #740000;

  margin-left: 20px;
}
.submit {
  background-color: #00042c;
}
.btn {
  border-radius: 15px;
  color: white;
  font-weight: bold;

  width: 160px;
  height: 30px;
  border-style: none;
  cursor: pointer;
}
@media (max-width: 840px) {
}

@media (max-width: 660px) {
}

@media (max-width: 480px) {
}
