:root {
  --missed: #fcbdbd;
  --on-going: #fde3f0;
  --complete: #d3f2cc;

  --mrd-blue: #c1d7e0;
  --mrd-purple: #e0d8e9;

  --crud-blue: #c2d2e4;
  --crud-fc: #00042c;

  --success-green: #13481d;
  --delete-red: #ad0000;
}
body {
  background-color: white !important;
  color: black !important;
}

.container_main {
  width: 100% !important;
}
