body {
  display: flex;
  flex-direction: column;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Open Sans',
    sans-serif;
  color: #86a5b1;
  background-color: #2f3241;
}

* {
  padding: 0;
  margin: 0;
}
.cursor {
  cursor: pointer;
}
.button {
  background-color: #f2f2f2; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0.5px 5px #c9c9c9;

  width: 200px;
  margin: 20px 20px 20px 0px;
  /* top right bottom left */
  display: flex;
  justify-content: space-between;
}

.export {
  text-decoration: none;
  color: #2f3241;
}
.column1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  flex-wrap: wrap; // To allow wrapping if needed
  // justify-content: space-between;
}
.column2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  padding-top: 16px;
}

.card {
  margin-top: 10px;
  background-color: #f2f2f2;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  padding: 2px 16px;
  padding-left: 0px;
}

.card-capsule {
  background-color: var(--missed);
  width: 5px;
  border-radius: 5px;
  padding: 0px 10px 5px 0px;
  /* top right bottom left */
  height: 59px;
  margin-top: -2px;
}

.c-name {
  padding-left: 10px;
}
.cbn {
  width: 150px !important;
  margin-left: 0px !important;
}
.p-loc {
  padding-left: 10px;
}
.doc-no {
  padding-left: 5px;
}
.date-sub {
  padding-left: 35px;
}
.title {
  font-size: 15px;
  // padding-right: 40px;
  // padding-left: 20x;
  font-weight: bold;
  margin-left: 10px;

  // text-align: left;

  color: black;
  width: 170px;
}

.title1 {
  padding-left: 10px;
  width: 120px;
}
.tStatus {
  // margin-left: -30px !important;
  width: 70px;
  text-align: center;
}
.cba {
  width: 170px;
}
.action {
  width: 90px;
  text-align: center;
}
.mrd {
  font-size: 14px;
  background-color: var(--mrd-blue);
  width: 150px;
  border-radius: 35px;
  // padding: 0px 0px 1px 25px !important;
  /* top right bottom left */
  height: 25px;
  margin: 1px 0px 0px 0px;

  text-align: center;
}
.edit {
  padding-left: 1px !important;
  padding-right: 4px !important;
  padding-top: 3px;
  background-color: var(--complete);

  margin: 18px 0px 0px 10px;
  border: none;
  border-radius: 10px;
}
.green {
  color: var(--success-green);
  width: 15px;
}
.deletered {
  color: var(--delete-red);
  width: 12px;
}
.delete {
  cursor: pointer;
  background-color: var(--missed);
  border: none;
  border-radius: 10px;
  /* top right bottom left */
  margin: 18px 0px 0px 10px;
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 3px;
}
// .cName {
//   padding-top: 0px;
// }
.clientBN {
  width: 160px !important;
}
.clientBA {
  width: 175px !important;
  margin-left: 0px !important;
}
.pLoc {
  width: 160px !important;
}
.info {
  font-size: 16px;
  // padding-right: 35px;
  margin-left: 10px;

  // text-align: left;

  color: black;
  width: 115px;
}
.status {
  font-size: 14px;
  background-color: var(--missed);
  width: 80px;
  border-radius: 35px;
  padding: 3px 2px 2px 0px;
  /* top right bottom left */
  height: 20px;
  // margin: 2px 0px 0px 30px;

  text-align: center;
}
.status-missed {
  background-color: var(--missed);
}

.status-ongoing {
  background-color: var(--on-going);
}

.status-upcoming {
  background-color: var(--upcoming);
}

.status-complete {
  background-color: var(--complete);
}

.status-on-hold {
  background-color: var(--on-hold);
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 840px;
  margin: 0 auto;
  // padding: 15px 50px 0 30px;
  /* top right bottom left */
}

@media (max-width: 840px) {
}

@media (max-width: 660px) {
}

@media (max-width: 480px) {
}
